td{width: 1px; height: 1px;}
table{width: 200px; border-collapse: collapse; border: solid black;}
.red{background: red}
.blue{background: blue}
.black{background: black}
.white{background: white}
label  { width:85em;  }
div {padding: 5px;}
#help
{
    color:red;
}
#div3 {
    width: 110px;
    height: 150px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}